*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
.vscode/
scratch/
*.apk
!HotspotManager-v1.3.4.apk
!HotspotManager-v1.3.5.apk
!HotspotManager-v1.3.6.apk
*.zip
hotspot1/
__pycache__/
*.sqlite
*.pem
.wrangler/
